.container{
	max-width: 1900px;
	margin: 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 130px;
	
	/*background: radial-gradient(#fff, #ffd6d6); /*background color*/

	background-attachment: fixed; /*background extend shrink naturally */
	background: cover; /*cover the entire thing */
	background-reapeat:  no-repeat;
	background-position: center; /*center the image in the middle of th webpage */
	/*background-image: url(/assets/image/mice/mice.jpg); /* import background */
	background-color: darkcyan;
    

}

.image img{
	width: 400px;
	height: 600px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.5); /*create box and shadow*/
	
}

.image{
	padding-bottom: 100px;

	transition: 0.5s;
}

.image:Hover{
	transform: translateY(-30px);
	opacity: 0.4;
}

