<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>


	<div class="Header">

		<!-- navigation bar class -->
		<div class="navbar">
			<div class="logo">
			
			</div>
			<!-- Navigation Bar -->
			<nav>
				<ul id = "MenuItems">
					<li><a href=""> Home </a></li>
					<li><a href="wishlist-app/ballin"> Ball'in </a> </li>
					<li><a href="wishlist-app/lifestyle">Life Style </a></li>
					<li><a href="wishlist-app/mice">Mice</a></li>
					<li><a href="">Pads</a></li>

				</ul>


			</nav>



	</div>



	
	


    </div>
</body>
</html>
