<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ball'in</title>

    <link rel="stylesheet" type="text/css" href=""> <!-- link the html to css file -->
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>

    <app-navbar> </app-navbar>

	<div class = "categories">


		<div class="container">

			<h1>BE LEGENDARY</h1>


			<div class = "row">
				
				<!-- Ball shoe -->
				<div class="image">
					<a href = "immortality.html"> <!-- click image go to certain link -->
						<img src="assets/image/ballin/complete/immortality.jpg">
					 </a>	
					 <h4 class="shoeName">Giannis Immortality</h4>
					 <p>$80.00</p>
				</div>

				<div class="image">
					<a href = "stepback2.html"> <!-- click image go to certain link -->
						<img src="assets/image/ballin/complete/stepback.jpg">
					 </a>	
					 <h4 class="shoeName">Harden Stepback 2</h4>
					 <p>$100</p>
				</div>

				<div class="image">
					<a href = "http:www.google.com"> <!-- click image go to certain link -->
						<img src="assets/image/ballin/complete/puma.jpg">
					 </a>
					 <h4 class="shoeName">Puma Triple Basketball</h4>
					 <p>$80.00</p>	
				</div>

				<div class="image">
					<a href = "kdtrey8.html"> <!-- click image go to certain link -->
						<img src="assets/image/ballin/complete/trey8.jpg">
					 </a>
					 <h4 class="shoeName">KD Trey 8</h4>	
				</div>

				<div class="image">
					<a href = "http:www.google.com"> <!-- click image go to certain link -->
						<img src="assets/image/ballin/complete/trey9.jpg">
					 </a>
					 <h4 class="shoeName">KD Trey 9</h4>	
				</div>

				<div class="image">
					<a href = "kd14.html"> <!-- click image go to certain link -->
						<img src="assets/image/ballin/complete/kd14.jpg">

					 </a>
					 <h4 class="shoeName">KD 14</h4>	
				</div>

				<div class="image">
					<a href = "http:www.google.com"> <!-- click image go to certain link -->
						<img src="assets/image/ballin/complete/speed8.jpg">
					 </a>
					 <h4 class="shoeName">Lining Speed Premium 8</h4>	
				</div>

				<div class="image">
					<a href = "dame8.html"> <!-- click image go to certain link -->
						<img src="assets/image/ballin/complete/dame8.jpg">
					 </a>
					 <h4 class="shoeName">Dame 8</h4>
					 <p>$120</p>
				</div>

				<div class="image">
					<a href = "http:www.google.com"> <!-- click image go to certain link -->
						<img src="assets/image/ballin/complete/futrx.jpg">
					 </a>
					 <h4 class="shoeName">UA Flow FUTRX</h4>
					 <p>$120</p>
				</div>

			</div>

		</div>

	</div>

</body>
</html>


