<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ball'in</title>

    <link rel="stylesheet" type="text/css" href=""> <!-- link the html to css file -->
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>

    <app-navbar> </app-navbar>

	<div class = "categories">


		<div class="container">

			<h1>Smooth Operator</h1>


			<div class = "row">
				
				<!-- Ball shoe -->
				<div class="image">
					<a href = "immortality.html"> <!-- click image go to certain link -->
						<img src="assets/image/mice/complete/ec3c.jpg">
					 </a>	
					 <h4 class="shoeName">Zowie EC3C</h4>
					 <p>$80.00</p>
				</div>

				<div class="image">
					<a href = "stepback2.html"> <!-- click image go to certain link -->
						<img src="assets/image/mice/complete/xlite.jpg">
					 </a>	
					 <h4 class="shoeName">Pulsar XLite Wireless</h4>
					 <p>$100</p>
				</div>

				<div class="image">
					<a href = "http:www.google.com"> <!-- click image go to certain link -->
						<img src="assets/image/mice/complete/kone.jpg">
					 </a>
					 <h4 class="shoeName">Roccat Kone Pro Air</h4>
					 <p>$80.00</p>	
				</div>

				

			</div>

		</div>

	</div>

</body>
</html>



